


<form action="/Department/AddDep">
    <div class="mb-3">
        <label for="NameDep" class="form-label">Department Name</label>
        <input type="text" name="Name" class="form-control" id="NameDep">
    </div>
    <div class="mb-3">
        <label for="DescDep" class="form-label">Department Description</label>
        <input type="text" name="Description" class="form-control" id="DescDep">
    </div>
    
    <button type="submit" class="btn btn-primary">Add Department</button>
</form>
